{% extends 'BlackCategoryBundle:AdminCategory:base.html.twig' %}

{% block content_top %}
    {% include 'BlackAdminBundle:Admin:contentTop.html.twig' with {'title': "category.admin.contentTop.edit.text"} %}
{% endblock %}

{% block category_content %}
<div class="fluid">

    <form id="validate" class="main" action="{{ path(admin_edit, { 'id': document.id }) }}" method="post" {{ form_enctype(form) }}>
        {% include 'BlackCategoryBundle:AdminForm:fieldset.html.twig' with {'form': form, 'title': 'category.admin.edit.category.txt'} %}
    </form>

    {% include 'BlackAdminBundle:AdminForm:actions.html.twig' with {'document': document} %}

</div>
{% endblock %}
