{% extends 'BlackCategoryBundle:AdminCategory:base.html.twig' %}
{% block content_top %}
    {% include 'BlackAdminBundle:Admin:contentTop.html.twig' with {'title': "category.admin.contentTop.new.text"} %}
{% endblock %}
{% block category_content %}
<div class="fluid">

    <form id="validate" class="main" action="{{ path(admin_new) }}"  method="post" {{ form_enctype(form) }}>

        {% include 'BlackCategoryBundle:AdminForm:fieldset.html.twig' with {'form': form, 'title': 'category.admin.new.category.txt'} %}

        {% include 'BlackAdminBundle:AdminForm:actions.html.twig' %}
    </form>

</div>
{% endblock %}
